body {
  margin: 0;
}

.r1-header, .r1-gyro, .r2-all, .r3-all, .r4-all, .r5-all {
  padding-left: 20%;
  padding-right: 20%;
}

/*  */
/* ROW 1: Header and Hero */
/*  */
.r1-header, .r1-gyro {
  background-color: #1F2937;
}

/* Header styles */
.r1-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.r1-header p{
  font-weight: 700;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16pt;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Gyro */
.r1-gyro {
  display: flex;
  height: 300px;
  align-items: center;
  gap: 36px;
}

.r1-gyro-header {
  font-size: 52px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

.r1-gyro-text {
  margin: 0;
  font-size: 28px;
  color: #E5E7EB;
}

button.r1-sign-up {
  border-radius: 4pt;
  height: 30px;
  width: 90px;
  background-color: #3882F6;
  color: white;
  font-weight: 700;
}

.r1-image-ph {
  height: 150px;
  width: 600px;
  background-color: grey;
  color: white;
}

/*  */
/* ROW 2: Images */
/*  */
.r2-all {
  height: 300px;
}

.r2-title {
  text-align: center;
  font-size: 18pt;
  font-weight: 700;
  padding: 0;
  margin: 20px;
}

.r2-all-images {
  display: flex;
  justify-content: center;
}

.r2-image {
  height: 100px;
  width: auto;
  border: 4px solid lightblue;
  border-radius: 8px;
}

/*  */
/* ROW 3: Quote */
/*  */
.r3-all {
  display: flex;
  height: 300px;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
}

.r3-all-text{
  display: flex;
  flex-direction: column;
}

.r3-quote, .r3-sig {
  padding: 0;
  margin: 0;
}

.r3-quote {
  font-size: 28pt;
  font-style: italic;
  font-weight: 100;
}

.r3-sig {
  color: #1F2937;
  text-align: right;
  font-size: 20pt;
}

/*  */
/* ROW 4: Call to Action */
/*  */
.r4-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.r4-cta {
  background-color: #3882F6;
  color: white;
  min-height: 50%;
  min-width: 100%;
  border-radius: 4pt;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r4-cta-text {
  margin-left: 75px;
}

.r4-cta-line1, .r4-cta-line2 {
  margin: 0;
  padding: 0;
}

.r4-cta-line1 {
  font-weight: 700;
  font-size: 16pt;
}

.r4-sign-up {
  margin-right: 75px;
  border: 2px solid white;
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
}



/*  */
/* ROW 5: Footer */
/*  */
.r5-all {
  height: 100px;
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}